.issue{
    width: 90%;
    margin: 5px 0px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.issue__tagWrapper{
    width: calc(100% - 60px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.issue__paragraph{
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 10px;
}
.issue__circle{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin: 0px 10px 0px 10px;
}
