.timerButtonBackground{
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
}
.timerButtonBackground--active{
    background-color: var(--cta);
}
.timerButtonIndicator{
    width: 32px;
    height: 32px;
    background-color: var(--secondary);
}
.timerButtonIndicator--inactive{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 0 16px 24px;
    border-color: transparent transparent transparent var(--secondary);
}